.gameover-modal{
    width: 100%;
    height: 100%;
    color: #000;
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.gameover-modal>h1{
    font-weight: 600;
    font-size: 5rem;
}

.gameover-modal>span{
    font-size: 2rem;
}
.gameover-modal>span>span{
    font-weight: 300;
    font-size: 1.5rem;
}
.gameover-modal-buttons{
    margin-top: 1rem;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.gameover-modal-buttons>button{
    font-size: 1rem;
    font-weight: 300;
    word-wrap: break-word;
    width: max-content;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.gameover-modal>input{
    background-color: transparent;
    border:none;
    color: #000;
    text-align: center;
    font-size:2rem;
}

.gameover-modal>input:focus-visible{
    outline:none;
}