.help {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    margin-bottom: 2rem;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icons {
    display: flex;
    flex-direction: column;
}
.texts {
    display: flex;
    flex-direction: column;
}

.question {
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

svg {
    font-size: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}
.spacebar {
    font-size: .8rem;
    margin-right: 1.5rem;
    border: 2px solid #000;
    border-radius: 2px;
    padding: 4px;
}
.texts > h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.texts > span {
    font-size: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}